<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-2 mx-sm-auto px-0 my-3">
      <h3 class="font-weight-bold p-3">投稿を編集する</h3>
        <div class="form-body p-3">
          <%= render "layouts/errors", obj: @post %>
          <%= form_with model: @post do |f| %>
            <%= f.label :"画像　" %>
            <%= f.file_field :post_image, accept: "image/*" %>
          <div class="input-group mb-3 mt-4">
            <%= f.label :"タイトル　" %></div>
            <%= f.text_field :title, class: 'form-control post_title' %>

          <div class="form-group mb-3 mt-4">
            <%= f.label :"トピック" %>
            <%= f.collection_select :topic_id, Topic.all, :id, :topic_name, {prompt: '--選択してください--'}, class: 'form-control topic' %>
          </div>

          <div class="form-group mb-3 mt-4">
            <%= f.label :"内容" %>
            <%= f.text_area :body, class: 'form-control post_body', rows: "8" %>
          </div>
          <div class="form-group mb-3 mt-5">
            <%= f.submit "変更", class: "btn btn-info btn-lg btn-block font-weight-bold" %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
