<div class='mx-auto col-12 col-sm-10 col-lg-8 col-xl-6 mt-4'>
  <div class="top-image">
    <%= image_tag asset_path("hello.png") %>
  </div>
  <% unless (user_signed_in?) || (admin_signed_in?) %>
    <div class="top-text">
      <h5 class="mb-3">ようこそ、kangekiへ</h5>
        <p>kangekiは、舞台芸術の情報共有サイトです。</p>
        <p>観劇後の感想や評価を投稿したり、<p>
          気になる話題で他のユーザーとコミュニケーションができます。</p>
    </div>

    <div class="col-5 pt-3 mx-auto" >
    <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-3", method: :post %>
    <%= link_to 'ログイン',new_user_session_path, class: "btn btn-outline-info btn-sm btn-block mb-3" %>
    <%= link_to '新規登録',new_user_registration_path, class: "btn btn-outline-success btn-sm btn-block" %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="top-text">
      <h5 class="mb-3">ようこそ、kangekiへ</h5>
      <div class="col-5 pt-3 mx-auto" >
        <%= link_to "　新規レビューを投稿する　", new_review_path , class: "btn btn-outline-info btn-sm btn-block mb-4" %>
        <%= link_to "　新規話題を投稿する　", new_post_path , class: "btn btn-outline-info btn-sm btn-block mb-4" %>
      </div>
  <% end %>
    </div>
</div>