<div id="rate_<%= review.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
    let raty_<%= review.id %> = document.querySelector('#rate_<%= review.id %>');
    rate_<%= review.id %>.innerHTML = ""
    let option_<%= review.id %> = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        score: "<%= review.rate %>",
        readOnly: true,
      };
    raty(raty_<%= review.id %> ,option_<%= review.id %>);
});
</script>
