<div class='container px-5 px-sm-0 p-3'>
  <%= render 'layouts/errors', obj: @review %>
  <div class='row'>
    <div class='col-md-4'>
      <%= render 'sidebar' %>
      <h5 class="font-weight-bold"><i class="fas fa-user-check" style="color: #638c93;"></i><font color="#345362"> <%= @user.name %>のプロフィール</font></h5>
      <%= render 'public/users/info', user: current_user %>
    </div>

    <div class='col-md-8 mt-3 offset'>
      <h2 class="font-weight-bold"><font color="#345362">感想・レビュー</font></h2>
      <span style="font-weight:bold;">並べ替え :</span>
      <%= link_to "新しい順", reviews_path(sort: 'created_at DESC'), class: "btn btn-sm btn-info" %>
      <%= link_to "満足度が高い順", reviews_path(sort: 'rate DESC'), class: "btn btn-sm btn-info" %>
      <%= render 'index', reviews: @reviews %>
    </div>
  </div>
</div>