<div class='container px-5 px-sm-0 p-3'>
  <%= render 'layouts/errors', obj: @review %>
  <div class='row'>
    <div class='col-md-4'>
      <%= render 'sidebar' %>
      <h5 class="font-weight-bold"><i class="fas fa-user-check" style="color: #9C8D65;"></i><font color="#345362"> <%= @user.name %>さんのプロフィール</font></h5>
      <%= render 'public/users/info', user: current_user %>
    </div>

    <div class='col-md-8 mt-3 offset'>
      <h2 class="font-weight-bold"><font color="#345362">検索結果 "<%= @keyword %>"</font></h2>
      <%= render 'index', reviews: @reviews %>
    </div>
  </div>
</div>