<div class='container'>
  <div class="row no-gutters">
    <div class="col-8 p-3">
      <div class="card mt-3">
        <div class="card-header">
          <div class="row">
            <div class="col-2 text-center">
            <%= image_tag @review.user.get_profile_image(50,50), class: "rounded-circle" %>
             </div>
             <div class="col-9">
              <i class="far fa-user" style="color: #9C8D65;"></i> <%= @review.user.name %>さん<br>
              <i class="far fa-calendar" style="color: #9C8D65;"></i> <%= @review.created_at.strftime('%Y年%m月%d日') %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <% if @review.review_image.attached? %>
            <%= image_tag @review.review_image, class: "card-img-top" %>
          <% end %>
          <h2 class="card-title">公演： <font color="#345362"><%= @review.stage_name %></font></h2>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-comments" style="color: #9C8D65;"></i>
            <% @review_tags.each do |tag| %>
            <%=tag.name%><%="(#{tag.reviews.count})" %>
              <!--<li style="list-style: none;">< %= link_to tag.name, search_path(content: tag.name, model:"tag", method: "perfect") %></li>-->
            <% end %>
          </h6>
          <p class="card-text">団体： <%= @review.group %></p>
          <p class="card-text">感想・レビュー： <%= @review.body %></p>
          <h6 class="favorite_buttons_<%= @review.id %>">
            <!--< %= render "public/favorites/favorite", post: @post %>-->
          </h6>
          <h6 class="comment_count">
            <%= "コメント" + @review.review_comments.count.to_s + "件" %>
          </h6>

      <div class="row">
        <div class="col-12">
          <div class="text-right">
          <% if @review.user == current_user %>
          <%= link_to "投稿を編集", edit_review_path(@review), class: "btn btn-outline-info" %>
          <%= link_to "投稿を削除", review_path(@review), method: :delete, remote: true, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn btn-outline-secondary" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
       <%= render "public/review_comments/index", review: @review %>
      </div>
      <div class="col-8">
       <%= render "public/review_comments/form", review: @review, review_comment: @review_comment %>

       <%= link_to "レビューの一覧へ戻る", reviews_path, style: "color:#345362;" %>
      </div>
     </div>
    </div>
  </div>
</div>