<div class="card mt-3 mb-3">
  <div class="card-body">
    <h4 class="card-title font-weight-bold"><i class="fas fa-comment" style="color: #9C8D65;"></i><font color="#345362"> コメント</font></h4>
        <% post.post_comments.each do |post_comment| %>
          <%= image_tag post_comment.user.get_profile_image(40, 40), class: "rounded-circle" %>
          <i class="far fa-user" style="color: #9C8D65;"></i>
          <%= link_to user_path(post_comment.user.id) do %>
            <%= post_comment.user.name %>
          <% end %>さんからのコメント
          <br>
          <p class="card-text"><%= post_comment.comment %></p>
          <div class="row">
            <div class="col-12">
              <i class="far fa-calendar" style="color: #9C8D65;"></i> <%= post_comment.created_at.strftime('%Y年%m月%d日') %>
              <div class="text-right">
                <% if post_comment.user == current_user %>
                <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-sm btn-outline-secondary' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
     </div>
    </div>
   </div>
</div>