<div class="card mt-3 mb-3">
  <div class="card-body shadow-sm">
    <h4 class="card-title font-weight-bold"><i class="fas fa-comment dark_blue"></i><font color="#345362"> コメント</font></h4>
      <h6 class="comment_count">
        <%= "(" + post.post_comments.count.to_s + "件)" %>
      </h6>
        <% post.post_comments.each do |post_comment| %>
          <%= image_tag post_comment.user.get_profile_image(40, 40), class: "rounded-circle" %>
          <i class="far fa-user" style="color: #638c93;"></i>
          <!--管理者用-->
          <% if current_admin.present? %>
            <%= link_to admin_user_path(post_comment.user.id), class: "text-reset" do %>
                <%= post_comment.user.name %>
              <% end %>さんからのコメント
          <!--ユーザー用-->
          <% else %>
            <%= link_to user_path(post_comment.user.id), class: "text-reset" do %>
              <%= post_comment.user.name %>
          <% end %>さんからのコメント
          <% end %>
          <br>
          <p class="card-text"><%= h(post_comment.comment).gsub(/\n|\r|\r\n/, "<br>").html_safe %></p>
          <div class="row">
            <div class="col-12">
              <i class="far fa-calendar dark_blue"></i> <%= post_comment.created_at.strftime('%Y年%m月%d日') %>
              <div class="text-right">
                <%= link_to "削除", admin_user_post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-sm btn-outline-secondary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
     </div>
    </div>
  </div>
</div>