<div class="card shadow-sm mt-3 mb-3">
  <div class="card-body">
    <h4 class="card-title font-weight-bold"><i class="fas fa-comment dark_blue"></i><font color="#345362"> コメント</font></h4>
        <% review.review_comments.each do |review_comment| %>
          <%= image_tag review_comment.user.get_profile_image(40, 40), class: "rounded-circle" %>
          <i class="far fa-user dark_blue"></i>
          <!--管理者用-->
          <% if current_admin.present? %>
            <%= link_to admin_user_path(review_comment.user.id), class: "text-reset" do %>
                <%= review_comment.user.name %>
              <% end %>さんからのコメント
          <!--ユーザー用-->
          <% else %>
            <%= link_to user_path(review_comment.user.id), class: "text-reset" do %>
              <%= review_comment.user.name %>
            <% end %>さんからのコメント
          <% end %>
          <br>
          <p class="card-text"><%= h(review_comment.comment).gsub(/\n|\r|\r\n/, "<br>").html_safe %></p>
            <div class="row">
              <div class="col-12">
                <i class="far fa-calendar dark_blue"></i> <%= review_comment.created_at.strftime('%Y年%m月%d日') %>
                <div class="text-right">
                  <%= link_to "削除", admin_user_review_review_comment_path(review_comment.review, review_comment), method: :delete, remote: true, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-sm btn-outline-secondary' %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
   </div>
  </div>
</div>