<div class="container pt-5">
  <div class="row">
    <h3 style="background-color: #eee;">カテゴリー一覧・追加</h3>
  </div>
  <div class="mt-5">
    <%= form_with model: [:admin, @category],local: true do |f| %>
    <div class ="row">
      <div class="col-md-2 text-center">カテゴリー名</div>
        <div class="col-md-3">
          <%= f.text_field :category_name, autocomplete: "category_name", class:"form-control", placeholder: 'カテゴリー名' %>
        </div>
        <div>
          <%= f.submit '   新規登録   ', class: "btn btn-lg btn-info btn-inline ml-5" %>
        </div>
    </div>
    <% end %>
  </div>
  <div class="row mt-5">
    <div class="col-md-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">カテゴリー</th>

          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td class=""><%= category.category_name %></td>
              <td class="text-center"><%= link_to '   編集する  ', edit_admin_category_path(category.id), class: "btn btn-sm btn-info" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>