<!DOCTYPE html>
<div class="container">
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 m-3 mx-auto">
      <h3><%= @user.name %>さんの会員情報編集</h3>

     <%= form_with model: @user, url: admin_user_path(@user), local:true, method: :patch do |f| %>
       <table class="table table-borderless">
         <div class="form-group">
          <tr>
            <td><%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %></td>
          </tr>
          </div>
          <div class="field">
            <tr>
            <td><%= f.label :"ユーザー番号" %>　(<%= @user.id %>)</td>
            </tr>
          </div>
          <div class="field">
            <tr>
            <td><%= f.label :"ユーザーネーム" %></td>
            <td><%= f.text_field :name, style: "margin-left:40px;", class:"form-control", autocomplete: "name" %></td>
            </tr>
          </div>

          <div class="field">
            <tr>
            <td><%= f.label :"自己紹介" %></td>
            <td><%= f.text_area :introduction, style: "margin-left:40px;", rows: '5', class:"form-control" %></td>
            </tr>
          </div>

          <div class="field">
            <tr>
            <td><%= f.label :"メールアドレス" %></td>
            <td><%= f.email_field :email, style: "margin-left:40px;", class:"form-control",autocomplete: "email" %></td>
            </tr>
          </div>

          <div class="actions">
            <tr>
            <td>ユーザーステータス</td>
          　<td>
            　<%= f.radio_button :is_deleted, false, style: "margin-left:40px;" %>
              <%= f.label :is_deleted, "有効", value: :false %>
              <%= f.radio_button :is_deleted, true %>
            　<%= f.label :is_deleted, "退会", value: :true %>
            </td>
            </tr>
          </div>
        <div class="actions">
          <tr>
          <td><br><%= f.submit '変更を保存', class: 'btn btn-info' %></td></tr>
        </div>
      <% end %>
    </table>
    </div></div></div>