<!DOCTYPE html>
<div class="container">
  <div class="row">
    <h3 class="col-8"><%= @user.name %>さんのプロフィール編集</h3>
  </div>

  <div class="col-8 pt-3">
    <%= form_with model: @user, url: admin_user_path(@user), local:true, method: :patch do |f| %>
      <table class="table table-borderless">
        <div class="field">
          <tr>
          <td><%= f.label :"プロフィール画像" %></td>
          <td colspan='2'><%= f.file_field :profile_image, accept: "image/*", class: 'profile_image' %></td>
          <td><%= image_tag @user.get_profile_image(200,200), class: "img_prev" %></td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td><%= f.label :"ユーザーID" %></td>
          <td colspan='2'><%= @user.id %></td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td><%= f.label :"ユーザーネーム" %></td>
          <td><%= f.text_field :name, style: "margin-left:40px;", autocomplete: "name" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
          <td><%= f.label :"自己紹介" %></td>
          <td><%= f.text_field :introduction, style: "margin-left:40px;" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
          <td><%= f.label :"地域" %></td>
          <td><%= f.select :user_prefecture, User.user_prefectures.keys, {} %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
          <td><%= f.label :"メールアドレス" %></td>
          <td><%= f.email_field :email, style: "margin-left:40px;",autocomplete: "email" %></td>
          </tr>
        </div>

        <div class="actions">
          <tr>
          <td>会員ステータス</td>
        　<td>
          　<%= f.radio_button :is_deleted, false, style: "margin-left:40px;" %>
            <%= f.label :is_deleted, "有効", value: :false %>
            <%= f.radio_button :is_deleted, true %>
          　<%= f.label :is_deleted, "退会", value: :true %>
          </td>
          </tr>
        </div>
      <div class="actions">
        <tr>
        <td><br><%= f.submit '変更を保持', class: 'btn btn-success' %></td></tr>
      </div>
    <% end %>
  </table>