<!DOCTYPE html>
<div class="container">
  <div class="row">
    <div class='col-md-8'>
      <div class="d-inline-block px-3 m-3" style="background-color: #eee;">
        <h3 class="m-0">
        <%= @user.name %>さんの会員情報編集</h3>
      </div>

      <%= form_with model: @user, url: admin_user_path(@user), local:true, method: :patch do |f| %>
      <table class="table table-borderless table-sm">
        <tr><%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %></tr>
        <div class="field">
          <tr>
          <td><%= f.label :"会員番号" %></td>
          <td colspan='2'><%= @user.id %></td>
          </tr>
        </div>
        <div class="field">
          <tr>
          <td><%= f.label :"名前" %></td>
          <td><%= f.text_field :name, style: "margin-left:40px;", autocomplete: "name" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
          <td><%= f.label :"自己紹介" %></td>
          <td><%= f.text_field :introduction, style: "margin-left:40px;" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
          <td><%= f.label :"メールアドレス" %></td>
          <td><%= f.email_field :email, style: "margin-left:40px;",autocomplete: "email" %></td>
          </tr>
        </div>

        <div class="actions">
          <tr>
          <td>会員ステータス</td>
        　<td>
          　<%= f.radio_button :is_deleted, false, style: "margin-left:40px;" %>
            <%= f.label :is_deleted, "有効", value: :false %>
            <%= f.radio_button :is_deleted, true %>
          　<%= f.label :is_deleted, "退会", value: :true %>
          </td>
          </tr>
        </div>
      <div class="actions">
        <tr>
        <td><br><%= f.submit '変更を保存', class: 'btn btn-info' %></td></tr>
      </div>
    <% end %>
  </table>