<div class='container'>
  <div class='row'>
    <h3 class="col-md-12"><i class="fas fa-users"></i> ユーザー一覧</h3>

        <table class="table table-sm">
          <thead>
            <tr>
              <th>ユーザー番号</th>
              <th>アイコン画像</th>
              <th>ユーザーネーム</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>

          <tbody>
            <% @user.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td>
                  <%= link_to admin_user_path(user) do %>
                    <%= image_tag user.get_profile_image(50,50), class: "rounded-circle" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to admin_user_path(user), style: "text-decoration: underline;" do%>
                    <%= user.name %>
                  <% end %>
                </td>
                <td><%= user.email%></td>

                <% if user.is_deleted == false %>
          　　　　　　<td class = "text-success font-weight-bold">有効</td>
            	  　<%else%>
          　　　　　　<td class = "text-secondary font-weight-bold">退会</td>
            	  <% end %>

              </tr>
            <% end %>
          </tbody>
        </table>

    <div class="row justify-content-center">
      <%= paginate @user %>
    </div>
  </div>
</div>