<body class="text-center">
  <div class="container">
  <form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">サインイン</h1>

  <%= form_with model: resource, url: new_user_session_path do |f| %>
    <table>
      <tbody>
        <tr>
          <td><%= f.label :email,"メールアドレス",style: "padding-left:0px;" %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com",style: "margin-left:40px;", size: "40px" %></td>
        </tr>
        <tr>
          <td><%= f.label :password,"パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "current-password",style: "margin-left:40px;", size: "40px" %></td>
        </tr>
        <tr>
          <% if devise_mapping.rememberable? %>
          <td class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
          </td>
          <% end %>
        </tr>
        <tr>
          <td></td>
            <td class="actions">
              <%= f.submit "ログイン",class: 'btn btn-sm btn-primary', style: "font-weight:bold; margin-top:20px; margin-left:40px;" %>
            </td>
        </tr>
      </tbody>
    </table>
  <% end %>
 <p>会員登録がお済みでない方</p>
  <p><%= link_to "こちら", "/users/sign_up" %>から新規登録を行ってください。</p>
  </div>
</body>