<div class='container'>
  <div class="row no-gutters">
    <div class="col-md-9 col-sm-10 mx-2 mx-sm-auto px-0 my-3">
      <div class="card shadow-sm mt-3">
        <div class="card-header">
          <div class="row">
            <div class="col-2 text-center">
            <%= image_tag @post.user.get_profile_image(50,50), class: "rounded-circle" %>
             </div>
             <div class="col-9">
              <i class="far fa-user" style="color: #638c93;"></i>
              <%= link_to admin_user_path(@post.user) do %>
              <%= @post.user.name %><% end %>さん
              <br>
              <i class="far fa-calendar" style="color: #638c93;"></i> <%= @post.created_at.strftime('%Y年%m月%d日') %>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h2 class="card-title"><%= @post.title %></h2>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-comments" style="color: #638c93;"></i>
            <%= @post.topic.topic_name %>
          </h6>
          <% if @post.post_image.attached? %>
            <%= image_tag @post.post_image, class: "card-img-top" %>
          <% end %>
          <p class="card-text mt-3"><%= @post.body %></p>
          </h6>

      <div class="row">
        <div class="col-12">
          <div class="text-right">
          <%= link_to "投稿を削除", post_path(@post), method: :delete, remote: false, data: { confirm: "本当に削除してもよろしいですか？" }, class: "btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
       <%= render "public/post_comments/index", post: @post %>
      </div>
       <%= link_to "投稿の一覧へ戻る", admin_user_posts_path, style: "color:#345362;" %>
    </div>
  </div>
</div>
</div>
</div>