    <table class="table text-nowrap">
      <tr><%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %></tr>
      <tr>
  	  <td class="info">ユーザーネーム</td>
  	  <td><%= user.name %></td>
      </tr>
     <tr>
  	  <td class="info">自己紹介</td>
  	  <td><%= user.introduction %></td>
    </tr>
    <tr>
  	  <td class="info">地域</td>
  	  <td><%= user.user_prefecture %></td>
    </tr>
     <tr>
  	  <td class="info">メールアドレス</td>
  	  <td><%= user.email %></td>
    </tr>
    <tr>
      <td class="info">フォロー</td>
      <td>< %= link_to user.followings.count, user_followings_path(user) %></td>
    </tr>
    <tr>
      <td class="info">フォロワー</td>
      <td>< %= link_to user.followers.count, user_followers_path(user) %></td>
    </tr>
  </table>
        <% if user == current_user %>
          <p class="ml-4"><%= link_to "プロフィール編集", users_information_edit_path(user), class: "btn btn-outline-secondary" %></p>
        <% end %>
