    <table class="table text-nowrap">
      <tr><%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %></tr>
      <tr>
  	  <td class="info">ユーザーネーム</td>
  	  <td><%= user.name %></td>
    </tr>
     <tr>
  	  <td class="info">自己紹介</td>
  	  <td><%= user.introduction %></td>
    </tr>
    <tr>
  	  <td class="info">地域</td>
  	  <td><%= user.user_prefecture %></td>
    </tr>
     <tr>
  	  <td class="info">メールアドレス</td>
  	  <td><%= user.email %></td>
    </tr>
  <!--    <th>follows</th>-->
  <!--  <th>< %= link_to user.followings.count, user_followings_path(user) %></th>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--  <th>followers</th>-->
  <!--  <th>< %= link_to user.followers.count, user_followers_path(user) %></th>-->
  <!--</tr>-->
  </table>

      <div class='row'>
        <% if user == current_user %>
          <div class=" col-md">
            <i class="fas fa-user-cog" style="color: #9C8D65;"></i>
            <%= link_to "プロフィール編集", edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" %>
          </div>
        <% end %>
    </div>
