<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #345362">
    <div class="container">
      <a class="navbar-brand" href="/" style="color: #efefef"><span>Kangeki</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

        <!--ユーザー用ヘッダー-->
        <% if user_signed_in? && current_user.name != "guestuser" %>
          <li>
            <%=  link_to users_my_page_path(current_user.id),class: 'nav-link text-light' do %>
              <i class="fas fa-user-circle"></i> マイページ
            <% end %>
          </li>
          <li>
            <%=  link_to reviews_path,class: 'nav-link text-light' do %>
              <i class="fas fa-pen"></i> 観劇レビュー
            <% end %>
          </li>
          <li>
            <%=  link_to posts_path,class: 'nav-link text-light' do %>
              <i class="fas fa-comments"></i> 談話室
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>

        <!--管理者用ヘッダー-->
        <% elsif admin_signed_in?  %>
         <li>
            <%=  link_to admin_users_path,class: 'nav-link text-light' do %>
              <i class="fas fa-users"></i> ユーザー管理
            <% end %>
          </li>
          <li>
            <%=  link_to admin_categories_path,class: 'nav-link text-light' do %>
              <i class="fas fa-list"></i> カテゴリー管理
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>

        <!--ログイン前ヘッダー-->
        <% elsif %>
          <li>
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <i class="fas fa-hashtag"></i> kangekiとは
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
              <i class="fas fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
          <li>
            <%= link_to users_guest_sign_in_path, { method: "post", class: 'nav-link text-light' } do %>
              <i class="fas fa-user-shield"></i> ゲストログイン
            <% end %>
          </li>

          <!--ゲストログイン用ヘッダー-->
          <% else user_signed_in? && current_user.name == "guestUser" %>
            <li>
              <%= link_to "マイページ", users_my_page_path(current_user.id), class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to '会員一覧', users_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to "投稿一覧", foods_path, class: 'nav-link text-light' %>
            </li>
            <li>
              <%= link_to "ログアウト", users_sign_out_path, method: :delete, class: 'nav-link text-light' %>
            </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>