<!--検索-->
<div class="form-group">
  <div class="search_form mr-3 text-right">
    <!--管理者用-->
    <% if admin_signed_in? %>
      <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word, class: 'form-control' %>
        <%= f.select :range, options_for_select([['User'], ['Post'],['Review']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索", class: "btn btn-info" %>
        <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    <% else %>
    <% end %>

    <!--ユーザー用-->
    <% if user_signed_in? %>
      <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word, class: 'form-control' %>
        <%= f.select :range, options_for_select([['User'], ['Post'],['Review']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
        <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          <i class="fa fa-search"></i>
        <% end %>
      <% end %>
    <% else %>
    <% end %>
  </div>
</div>
