<!DOCTYPE html>
<html>
  <head>
    <title>Kangeki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body class="d-flex flex-column vh-100" style="background-color: #efefef">
      <%= render 'layouts/header' %>
    <main class="mb-auto">
    <%= yield %>
    <%= render 'layouts/footer' %>
    </main>

  </body>
</html>